<div>
  <label for="new-project">Data dnia: </label>
  <input id="new-project" #projectNumber />
  <br />
  <label for="new-project">Nagłówek dnia: </label>
  <input id="new-project" #projectName />
  <br />

  <label for="new-project">Szczegóły: </label>
  <input id="new-project" #projectDescription />
  <br />

  <button type="button" class="add-button" (click)="createProject1
          (projectNumber.value,projectName.value,projectDescription.value) ">
    Create Day
  </button>
</div>
 


 

