.zakresCalosc {
 
 margin-top:4px;
 align-self:center;
 height:90%;

 text-align:center;


}


mat-form-field {
  
}
mat-hint {
 
}


 

.postRange {
font-size:44px;
align-self:center;
}

.inputForRange {
  width: 100%;
}
