<div *ngIf="day">
  <h2>Szczegóły dnia</h2>
  <div>Data: {{day.dayDate | date:'d-MM-y'}}</div>
  Zadania:
  <div>

    <ul class="ulSubTaskInsideDay">
      <li class="subTasksInsideDay" *ngFor="let cos of day.mainTasks">

        {{setValue(cos.content)}}
        <div class="taskEditAndDelete">
        <input class="inputTask" #box (keyup.enter)="onEnter(box.value, cos.id)" [(ngModel)]="name" #ctrl="ngModel" required>
        <button class="deleteButton" (click)="deleteTask(day, cos.id)" > X </button> </div>
      </li>
    </ul>


    <input class="noweZadanie" #box2 (keyup.enter)="onEnterCreate(box2.value )" placeholder="Wprowadź nowe zadanie"  >





  </div>
</div>
