button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: darkred;
  margin: .5em;
  padding: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 2em;
  font-size: medium;
}
 
 button:hover {
  color: black;
  background-color: #e6e6e6;
  left: .1em;
}

.opisSzczegol {
    margin-left : 50px;
    font-size : 33px;
    padding: 4px;

}
.noweZadanie {
  width: 350px;
  width: 500px;
  font-size: 33px;
  margin-left: 38px;
}

.subTasksInsideDay {
  list-style:  decimal  ;

  
}
.inputTask {
width: 500px;
font-size:33px;
}
.taskEditAndDelete {
  display: inline-flex;
  height: 80%;
}
.deleteButton {
  text-align: center;
  background: red;
  font-size: 25px;
  width: auto;
  height: 25px;
}
