 

<app-day-detail [day]="selectedDay"></app-day-detail>


<h2>Dni: </h2>
<ul class="projects">
  <li *ngFor="let day of myData">
     
      <!--<button [class.selected]="day === selectedDay" type="button" (click)="onSelect(day)">

        <span class="badge">{{day.dayDate}}</span>


      </button>-->
       
      <div class='btn' [class.selected]="day === selectedDay" type="button" (click)="onSelect(day)">
        <span>{{day.dayDate | date:'shortDate' }}</span>


        <br />  
        <span class="title">Zadanie 1</span>
        <br />
        <span class="title">Zadanie 2</span>
        <br />
      </div>
  </li>
</ul>


