 

<app-day-detail [day]="selectedDay"></app-day-detail>


<h2>Dni: </h2>
<ul class="projects">
  <li *ngFor="let day of myData">
      
    <div class='btn' [class.selected]="day === selectedDay" type="button" (click)="onSelect(day)">
      <span>{{day.dayDate |  date:'d-MM-y' }}</span>


      <ul class="subTasksInsideBlockOfDays">
        <li class="subTasksInsideBlockOfDays" *ngFor="let cos of day.mainTasks">
           
          {{cos.content}}

        </li>
      </ul>
    </div>
  </li>
</ul>


