.btn {
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 150px;
  height: 200px;
}

.calendar {
padding: 0;

}
 span {
  font-size: 22px;
}
/*.subTasksInsideBlockOfDays {
 display: table-cell;
}*/

.projects {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
body {
max-width: 100%;



}
.ulClass {

 
}


.liClass {
  display: table-cell;
  max-width: 30%;
 
}

.box {
  inline-size: 150px;
  overflow-wrap:break-word;
  
}

 
.divClass2 {

}
.liClass2 {
  display: table;
  text-align: left;
 
 
}

  .projects button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 4em;
  }

    .projects button:hover {
      color: #2c3a41;
      background-color: #e6e6e6;
      left: .1em;
    }

    .projects button:active {
      background-color: #525252;
      color: #fafafa;
    }

    .projects button.selected {
      background-color: black;
      color: white;
    }

      .projects button.selected:hover {
        background-color: #505050;
        color: white;
      }

      .projects button.selected:active {
        background-color: black;
        color: white;
      }

  .projects .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 0em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 60px;
  }

  .projects .title {
    align-self: center;
    width:fit-content;
  }

